<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加题目</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker-1.4.0/css/bootstrap-datepicker3.min.css"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2>添加题目</h2>
        </div>

        <!--<h4>开始日期</h4>-->
        <!--<div class="clearfix">-->
            <!--<div id="sandbox-container" style="padding-left: 0;" class="col-lg-3">-->
                <!--<div class="input-group date">-->
                    <!--<input type="text" class="form-control" id="month">-->
                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <h4>已添加的题目</h4>
        <div class="sub_list" >
            <div class="clearfix" id='titles'>
                <% subject.forEach(function(value){ %>
                    <p><%= value.title %> <a class='deleteTitle'  href="javascript:void()" data-title="<%= examTitle %>" data-id="<%= value.id %>">删除</a></p>
                <% }); %>
            </div>
        </div>

        <h4>添加试题</h4>
        <form id="form" class="col-md-6" style="padding-left: 0">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" name="title" id="title" class="form-control" />
            </div>
            <input type="hidden" name="examTitle" value="<%= examTitle %>"/>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" />
                <br/>
                <br/>
                <br/>
                <a href="/backend" class="btn btn-primary">结束</a>
            </div>
        </form>

    </div>
</body>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-datepicker-1.4.0/js/bootstrap-datepicker.js"></script>
<script>
    var examTitle = "<%= examTitle %>";
    $.fn.serializeObject = function () {
        "use strict";

        var result = {};
        var extend = function (i, element) {
            var node = result[element.name];

            // If node with same name exists already, need to convert it to an array as it
            // is a multi-value field (i.e., checkboxes)

            if ('undefined' !== typeof node && node !== null) {
                if ($.isArray(node)) {
                    node.push(element.value);
                } else {
                    result[element.name] = [node, element.value];
                }
            } else {
                result[element.name] = element.value;
            }
        };

        $.each(this.serializeArray(), extend);
        return result;
    };
    $("#form").on('submit', function(e){
        var title = $("#title").val();

        var form = e.target;
        var data = $(form).serializeObject();

        $.post('/backend/addSubject', data,  function(data){
            if(parseInt(data.status) === 200){
                var title = data.title;
                var id = data.id;
                $("#titles").append("<p>" + title+ "<a class='deleteTitle' data-title='" + examTitle + "'  href='javascript:void'  data-id='"+ id + "'>删除</a>"  + "</p>" );
                $("#title").val("");
            } else{
                alert("ERROR" + JSON.stringify(data.error));
            }
        });
        return false;
    });


    $('#titles').on('click', '.deleteTitle',  function(e){
        var id = e.target.dataset.id;
        var title = e.target.dataset.title;
        var target = e.target;

        $.post('/backend/deleteSubject', { id : id, examTitle : title}, function(data){
            data = JSON.parse(data);
            if(parseInt(data.statusCode) === 200){
                $(target).parent().remove();
            } else {
                alert("ERROR" + JSON.stringify(data.error));
            }
        });
    });


    $('#sandbox-container .input-group.date').datepicker({
        language: "zh-CN",
        autoclose: true,
        todayHighlight: true,
        toggleActive: true,
        todayBtn : true
    });
</script>

</html>